body {
    background-image: url(../images/FONDO_LOGIN.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.text {
    text-align: center;
    font-size: 30px;
    color: white;
}

.contenedor {
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
}

button {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
    margin: auto;
}